blockquote {
  border-color: #eee;
  border-style: solid;
  border-width: 2px 0;
  display: block;
  line-height: 1.5em;
  margin: 1.5em 0;
  padding: 2.5em 0 2.5em;
  position: relative;
}
img {
  display: block;
  width: auto;
  margin: 0 auto;
}
